.movie-details{
     color: #23292E;
    
     &__heading{
       padding: 2rem;
       background-color: #EDEEEF;
       display:flex;
       justify-content: center;
      position: relative;
      height: 20vh;
   }
  
  

  .rating-section{
      display: flex;
    
    .average {
        background-color: #FFCE28;  
    }

    .vote-count {
             background-color: #2892D7;  
             font-weight: bold;
             color: white;
    }
  }

  .right-col {
      display: flex;
      flex-direction: column;
  }

  .left-col {
      display: flex;
      flex-direction: column;
  }

    &__image-holder{
        width:100%;
        height: auto;
        border: none;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__image {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: 100%;
        object-fit: cover;
    }

    &__content{
       display: flex;
       position: relative;
       height: 80vh;
   }
      

      &__subsection-wrapper{
         display: flex;
         flex-direction: row;
     }

   &__additional-information{
       font-size: 1.3rem;
       padding: 20px;
       background-color: #2F3235;
       color: white;
       border: none;
       height: 100%;
   }
    
   

   &__overview {
       padding: 2%;
       width: 100%;
       height: 100%;
       font-size: 1.2rem;
       text-align:center;
       background-color: #EBEBEC;
       border: none;
   }

  

   &__title{
       font-size:2rem;
       font-weight: bold;
 
  }

  &__col{

  }
 
  .heading__back-btn {
      position: absolute;
      left: 2%;
      top:50%;
      transform: translateY(-50%);
      font-weight: bold;
  }

}

.metrics-card {
        width:50%;
        min-height: 200px;  
        font-size: 3rem;
        display:flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        opacity: 0.95;

        &:hover{
            opacity: 1;
        }

  }


@media (min-width: 371px) and (max-width: 600px) {
.movie-details{
  &__content{
         display: flex;
         flex-direction: column;
     }

   &__additional-information{
       font-size: 1rem;
       height: auto;
       width: auto;
   }

      &__average {
    position:absolute;
    top: -5px;    
    left:-5px;
    font-size: 1.2rem;
  }

  &__vote-count {
    position:absolute;
   top: -5px;   
    right:-5px;
    font-size: 1.2rem;
  }
}

.metrics-card{
    font-size: 1rem;
}
}

