.hero {
  width: 100%;
  height: 50vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("/moov/img/moov-hero.jpg");
  background-position: top 30px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: #EFF1F3;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;



&__title {
   font-size: 3rem;
   font-weight: 400;

}

&__subtitle {
   font-size: 1.2rem;
   font-weight: 300;
  
}

&__brand {
  font-family: 'Luckiest Guy', cursive;
  position: absolute;
  top:3%;
  left: 3%;
  font-size: 1.8rem;
}

}

.search-container{
  display: flex;
  justify-content: center;
  margin-top: 2%;
}





@media (min-width: 371px) and (max-width: 600px) {

  .hero{
  &__title {
    margin-top: 2rem; 
   font-size: 1.2rem;
   
  }

  &__subtitle {
   font-size: 1rem;

}

  &__brand {
    color: #EFF1F3;
    margin-top: 5rem;
    font-size: 3rem;
    left: 50%;
    transform: translate(-50%); 
  } 
  }
}

@media (min-width: 371px) and (max-width: 600px) and (max-height:670px) {
 

  .hero__brand {
    margin-top: 15%;
  } 
}

@media (min-width: 300px) and (max-width: 370px) {
.hero{
  &__title {
    display: none;
  }

  &__subtitle {
    display: none;
   }
}

&__brand {
    margin-top: 10%;
  } 
}

@media (min-width: 700px) {
.hero{
  &__title {
       letter-spacing: 0.5rem;
   opacity: 0.9;
  }

  &__subtitle {
     letter-spacing: 0.2rem;
     opacity: 0.7; 
   }
}

&__brand {
    margin-top: 10%;
  } 
}
