.movie-card {
    min-width: 30%;
    height: auto;
    border: none;
    &__image{
        max-width:100%;
        max-height:100%;
        height: auto;
        border-radius: 10px;

    }
    position: relative;

    &:hover .overlay {
    transform: scale(1);
    }

    &__score{
    position: absolute;
    top:10px;
    left: 10px;
    background-color:#E8BC25;
    border: none;
    font-weight: bold;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3C4241;
    }
}


.overlay {

  &__container {
      padding: 20px;
      text-align: center;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

    &__title {
  font-size: 0.8rem;
  opacity: 0.9;
  font-size:1.1rem;
}
    
    &__text {
  font-size: 0.8rem;
  opacity: 0.6;

}

&__see-more-btn {
      width: 90%;
      position: absolute;
      bottom: 2%;
      left: 50%;
      transform: translate(-50%,-50%)
  }



}


@media (min-width: 371px) and (max-width: 600px) {


.overlay {


&__title {
  font-size: 0.6rem;
}
    
&__text {
  font-size: 0.65rem;

}

}

}

@media screen and (min-width: 700px) and (max-width: 1024px) {

.overlay {


&__title {
  font-size: 1.5rem;
}
    
&__text {
  font-size: 0.9rem;
}

}
}