
.input-group {
  width: 100%;
}

.form-control{
    max-width: 250px;
    transition: all 0.2s ease-in-out;
    opacity: 0.9;
    &::placeholder {
      font-size: 0.9rem;
      opacity: 0.7;
    }

    &--rounded{
     border-radius: 30px;
    }

    &--semi-rounded{
        border-radius: 8px;
    }


}

.form-control:hover{
    transform: scale(1.1);
    opacity: 1;
}